language: python
python:
- '2.7'
- '3.3'
- '3.4'
install:
- pip install Markdown pelican coveralls
- pip install .
script: nosetests --with-coverage --cover-package=extended_sitemap extended_sitemap
after_success: coveralls --config_file .coveragerc
deploy:
  provider: pypi
  user: dArignac
  password:
    secure: WRAy+x/e6VrSOSzWkRe9jZDwsjRV2FA/iAYxx7wChZxPo0t2AhLDEgdC6blx2wsS28vtYnsrav4lJvC1ObK1523speN7AI/WOujNbj6yUMMzCXmDTvD/mzF9ueleslPC1yPCNAbQOBsdddxP6gyuJnLOyt6mJJLLLw2sQElbpHc=
  on:
    tags: true
    repo: dArignac/pelican-extended-sitemap
    python: 3.4
