include README.rst
include extended_sitemap/sitemap-stylesheet.xsl
include extended_sitemap/tests/content/articles/*.md
include extended_sitemap/tests/content/pages/*.md
include extended_sitemap/tests/expected/*.xml